<div *ngIf="selectedBrands.length > 0 ?? false" class="brand-chips-field">
  <mat-chip *ngFor="let brand of selectedBrands" [selectable]="selectable" [removable]="removable"
      (removed)="onBrandRemove(brand)">
      {{ brand }}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
</div>

<mat-form-field class="brand-filter-input" appearance="fill">
  <mat-label>Brand</mat-label>
  <input matInput placeholder="Input brand" [formControl]="brandFormControl" (input)="onBrandInput()" [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onBrandSelect($event)">
    <mat-option *ngFor="let brand of filteredBrands$ | async" [value]="brand">
      {{ brand.name }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
