$input-color: #cdd9e5;
$placeholder-color: #76828b;

.brand-chips-field {
  width: calc(100% - 20px);
  margin-left: 10px;
  height: 200px;
  padding: 10px;
  margin-top: 10px;
  background-color: #373e47;
  border: 1px solid rgba(205, 217, 229, 0.1);
  border-radius: 3%;
}

.brand-filter-input {
  padding-top: 0;
  margin-top: 18.8125px;
  width: calc(100% - 30px);
  margin-left: 15px;
}

::placeholder {
  color: $placeholder-color;
}

::ng-deep .mat-select-valuext {
  color: $input-color !important;
}

::ng-deep .mat-form-field {
  color: $input-color !important;
}

::ng-deep .mat-form-field-label {
  color: $input-color !important;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: $input-color !important;
}

::ng-deep.mat-form-field-underline {
  background-color: $input-color !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: $input-color !important;
}
