<div class="form-block">

  <h2 class="white-text form-title">Reset Password</h2>

  <form [formGroup]="resetPasswordFormGroup" class="form">
    <mat-form-field class="w-100 form-field" appearance="fill">
      <mat-label for="newPassword">New password</mat-label>
      <input matInput id="newPassword" type="password" formControlName="newPassword">
      <mat-error *ngIf="newPassword.errors?.required">
        * Password is required
      </mat-error>
      <mat-error *ngIf="newPassword.errors?.minlength">
        * Password must be at least 8 characters
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100 form-field" appearance="fill">
      <mat-label for="confirmPassword">Confirm password</mat-label>
      <input matInput id="confirmPassword" type="password" formControlName="confirmPassword">
      <mat-error *ngIf="confirmPassword.touched && confirmPassword.dirty && confirmPassword.errors?.required">
        * Confirm password
      </mat-error>
      <mat-error *ngIf="confirmPassword.touched &&
                    confirmPassword.dirty && resetPasswordFormGroup.hasError('notSame')">
        * Passwords do not match
      </mat-error>
    </mat-form-field>

    <div class="submit-block">
      <button class="car-editor-input" mat-raised-button color="primary" type="submit"
              [disabled]="!resetPasswordFormGroup.valid"
              (click)="onSubmit()">Submit
      </button>
    </div>
  </form>

</div>
