$input-color: #cdd9e5;
$placeholder-color: #76828b;

.form-block {
  width: fit-content;
  margin: 120px auto auto;
  padding: 30px 40px 40px;
  background-color: #373e47;
  border-radius: 2%;

  .form-title{
    font-size: 20px;
  }
}

.form {
  width: 550px;
  margin: 0 auto;
}

.submit-block {
  padding-top: 10px;
}

@media (max-width: 800px) {
  .form-block {
    margin: 50px 20px 20px;
    padding: 30px 20px 40px 0;
    width: calc(100% - 40px);

    .form-title{
      margin-left: 20px;
    }
  }
  .form {
    width: calc(100% - 20px);
  }

  .form-field {
    margin: 10px;
    width: calc(100% - 20px);
  }

  .submit-block {
    padding-top: 10px;
    padding-left: 10px;
  }
}

::placeholder {
  color: $placeholder-color;
}

::ng-deep .mat-form-field {
  color: $input-color;
}

::ng-deep .mat-form-field-label {
  color: $input-color !important;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: $input-color !important;
}

::ng-deep.mat-form-field-underline {
  background-color: $input-color !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: $input-color !important;
}

::ng-deep .mat-select-min-line {
  color: #cdd9e5 !important;
}
