<div class="form-block">

  <h2 class="white-text form-title">Reset Password</h2>

  <form [formGroup]="resetPasswordFormGroup" class="form">
    <mat-form-field class="w-100 form-field" appearance="fill">
      <mat-label for="email">Account email</mat-label>
      <input matInput id="email" type="email" formControlName="email">
      <mat-error *ngIf="email.errors?.required">
        * Password is required
      </mat-error>
      <mat-error *ngIf="email.errors?.email">
        * Invalid email format
      </mat-error>
    </mat-form-field>

    <div class="submit-block">
      <button class="car-editor-input" mat-raised-button color="primary" type="submit"
              [disabled]="!resetPasswordFormGroup.valid"
              (click)="onSubmit()">Submit
      </button>
    </div>
  </form>

</div>
