
  <!-- <select formControlName="brandId">
    <option value="" disabled>Choose car brand</option>
    <option *ngFor="let brand of brands$ | async" [ngValue]="brand.id">{{ brand.name }}</option>
 </select> -->

 <form [formGroup]="carEditorForm" style="margin-left: 30px;">
  <div>
   <mat-form-field appearance="fill">
     <mat-label>Choose car brand</mat-label>
     <mat-select formControlName="brandId">
      <mat-option *ngFor="let brand of brands$ | async" [value]="brand.id">
        {{ brand.name }}
      </mat-option>
      <div>
        <div [formGroup]="brandEditorForm" style="display: inline-block; padding-bottom: 10px; margin: 0 0 0 16px;">
          <input matInput formControlName="brand" type="text" id="" placeholder="Add new brand" name="brandName">
        </div>
        <div style="display: inline-block;">
          <mat-icon class="clickable" aria-hidden="false" aria-label="Add new brand" (click)="addNewBrand()">add</mat-icon>
        </div>
      </div>
     </mat-select>
   </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label for="model">Model</mat-label>
      <input matInput id="model" type="text" formControlName="model">
    </mat-form-field>
  </div>

   <div>
     <mat-form-field appearance="fill">
       <mat-label for="description">Description</mat-label>
       <input matInput id="description" type="text" formControlName="description">
     </mat-form-field>
   </div>

   <div formArrayName="carPicturesUrls">
    <button [disabled]="!canAddCarPicture" mat-raised-button color="primary" (click)="addCarPicture()">+ Add car picture</button>
    <div *ngFor="let carPicture of carPicturesUrls.controls; let i=index">
      <mat-form-field>
        <!-- The repeated alias template -->
        <mat-label >Car picture url</mat-label>
        <input matInput id="carPicture-{{ i }}" type="url" [formControlName]="i">
      </mat-form-field>
      <mat-icon class="clickable" (click)="removeCarPicture(i)" aria-hidden="false" aria-label="Remove car picture field">close</mat-icon>
    </div>
  </div>

   <div style="padding-top: 10px;">
     <button mat-raised-button type="submit" [disabled]="!carEditorForm.valid" (click)="onSubmit()">Create</button>
   </div>
 </form>
