mat-form-field {
  width: 250px;
}

.authentification-form-footer {
  padding-top: 10px;
  padding-right: 10px;
  float: right;

  p {
    margin: 0;
  }
}

.validation-alert {
  width: 240px;
  margin-bottom: 10px;
}
