<div class="cars-list">
  <cars-filter (filterEvent)="getFilteredCars($event)" [filter]="filter"></cars-filter>
  <div class="cars" infiniteScroll (scrolled)="onScroll()" *ngIf="cars && cars.length > 0; else carsNotFoundBlock">
    <car-card *ngFor='let car of cars; trackBy: trackCarsById' [car]="car">
    </car-card>
  </div>
  <div>
    <ngx-spinner bdOpacity=0.9 bdColor="" size="default" color="#581f87" type="ball-pulse-sync" [fullScreen]="false">
    </ngx-spinner>
  </div>
</div>

<ng-template #carsNotFoundBlock>
  <p>Cars not found</p>
</ng-template>
