<car-filter-mobile *ngIf="mobileFilterOpened" (filterEvent)="getFilteredCars($event)" [filter]="filter"
  (closeFilterEvent)="closeMobileFilter()" (orderByChange)="orderByChange($event)" [orderBy]="orderBy">
</car-filter-mobile>

<div *ngIf="cars$ | async as cars" class="cars-list">
  <div class="default-filter">
    <cars-filter (filterEvent)="getFilteredCars($event)" [filter]="filter"></cars-filter>
    <cars-sorting-select [orderBy]="orderBy" (orderByChange)="orderByChange($event)"></cars-sorting-select>
  </div>
  <div class="mobile-filter-menu">
    <div class="mobile-filter-button clickable white-text" (click)="openMobileFilter()">
      <mat-icon>filter_list</mat-icon>
      <span class="filter-span">Filter</span>
    </div>
  </div>
  <div class="cars" infiniteScroll [alwaysCallback]="true" (scrolled)="onScroll()"
    *ngIf="cars && cars.length > 0; else carsNotFoundBlock">
    <car-card *ngFor='let car of cars; trackBy: trackBy;' [car]="car">
    </car-card>
  </div>
  <div>
    <ngx-spinner bdOpacity="0.9" bdColor="" size="default" color="#581f87" type="ball-pulse-sync" [fullScreen]="false">
    </ngx-spinner>
  </div>
</div>

<ng-template #carsNotFoundBlock>
  <p class="white-text cars-not-found">Cars not found</p>
</ng-template>
