.cars-list {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.cars {
  display: grid;
  grid-template-columns: repeat(2, minmax(350px, 1fr));
}

@media (max-width: 1570px) {
  .cars {
    display: grid;
    grid-template-columns: repeat(2, minmax(350px, 1fr));
  }
}

@media (max-width: 1200px) {
  .cars {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 800px) {
  .cars {
    grid-template-columns: repeat(1, minmax(350px, 1fr));
  }

  .cars-list {
    grid-template-columns: repeat(1, minmax(350px, 1fr));
  }
}
