.filter-section {
  width: 260px;
}

.clear-filters {
  padding: 10px;
  padding-bottom: 0;
  font-size: 17px;
  color: darkorchid;
}

@media (max-width: 1000px) {
  .filter-section {
    padding-left: 10px;
  }
}

@media (max-width: 800px) {
  .filter-section {
    display: none;
  }
}
