<base-dialog [title]="title$.value">
  <login *ngIf="title$.value === 'Login'" (switchToRegisterEvent)="switchToRegister()" (loginSubmit)="onLogin()"
         (passwordReset)="closeDialog()"></login>
  <register *ngIf="title$.value === 'Register'" (switchToLoginEvent)="switchToLogin()" (registerSubmit)="onLogin()">
  </register>
  <div class="external-logins">
    <a class="external-login" mat-stroked-button (click)="loginWithGoogle()" role="button">
      <img alt="Google login"
           src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
      Google
    </a>
  </div>
</base-dialog>
