$content-color: #cdd9e5;

::ng-deep .mat-dialog-container {
  background-color: #2d333b;
}

.mat-dialog-title {
  color: $content-color;
}

.mat-dialog-actions {
  float: right;
  margin: 0;
  padding: 0;
}

.mat-dialog-content {
  width: 300px;
}

.external-logins {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #22272e;

  .external-login {
    width: 100%;
    margin-bottom: 10px;
    text-transform: none;
    background-color: white;

    img {
      width: 20px;
      margin-bottom:2px;
    }
  }
}
