$font-color: #cdd9e5;
$dialog-background-color: #2d333b;

::ng-deep .mat-dialog-container {
  background-color: $dialog-background-color;
}

.mat-dialog-title {
  color: $font-color;
}

.mat-dialog-actions {
  float: right;
  margin: 0;
  padding: 0;
}

.mat-dialog-content {
  width: 300px;
}
