<mat-card class="car-card">
  <a [routerLink]="['/cars', car.id]">
    <img class="car-card-image" *ngIf='car.carPicturesUrls.length > 0' [src]="car.carPicturesUrls[0]" />
  </a>
  <mat-card-content class="car-card-content">
    <div class="car-info">
      <mat-card-title class="car-title">
      <a [routerLink]="['/cars', car.id]">{{ car.brand }} {{ car.model }}</a>
      </mat-card-title>
    </div>
    <div access-control class="car-card-star-block">
      <img class="car-card--star clickable" [src]="currentImage" alt="Default star image" (click)="onStarClick()">
    </div>
  </mat-card-content>
</mat-card>
