<mat-card class="car-card">
  <a [routerLink]="['/cars', car.id]" class="car-card-image-wrapper">
    <img class="car-card-image" [src]="car.carPicturesUrls[0]" (error)="setDefaultPicture()" alt="Car picture"/>
  </a>
  <mat-card-content class="car-card-content">
    <div class="car-info">
      <mat-card-title class="car-title">
        <a [routerLink]="['/cars', car.id]">{{ car.brand }} {{ car.model }}</a>
      </mat-card-title>
    </div>
    <div accessControl class="car-card-star-block">
      <img class="car-card--star clickable" [src]="currentImage" alt="Star image"
           (click)="onStarClick()">
    </div>
  </mat-card-content>
</mat-card>
