<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <label for="email">Email: </label>
  <input id="email" type="email" formControlName="email">
  <span class="text-danger" *ngIf="loginForm.get('email')?.errors" >Error</span>


  <label for="password">Password: </label>
  <input id="password" type="password" formControlName="password">
  <span class="text-danger" *ngIf="loginForm.get('password')?.errors" >Error</span>

  <button type="submit" [disabled]="!loginForm.valid">Login</button>
</form>
