.comment-card {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  color: black;
  margin-bottom: 15px;
}

.comment-name {
  background-color: white;
  padding: 15px;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
}

.comment-content {
  background-color: white;
  padding: 15px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.comment-date {
  background-color: white;
  padding: 15px;
  text-align: right;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
}

.comment-block {
  padding: 15px;
  border-bottom: 1px solid #16181c;

  .comment-block-header {
    padding-bottom: 5px;
  }

  .comment-block-date {
    color: darkgrey;
    padding-left: 10px;
  }
}
