<mat-nav-list class="list-horizontal nav">
  <mat-list-item id="logo">
    <a [routerLink]="['cars']"><strong>CARS INFO</strong></a>
  </mat-list-item>
  <a nav-item mat-list-item [routerLink]="['/cars']">Cars</a>
  <a nav-item mat-list-item [routerLink]="['/add-car']">Add car</a>
  <a nav-item mat-list-item (click)="openDialog('Login')">Login</a>
  <a nav-item mat-list-item (click)="openDialog('Register')">Register</a>
  <a nav-item mat-list-item (click)="onLogout()">Logout</a>
</mat-nav-list>
