mat-nav-list.list-horizontal {
  padding: 0;

  #logo {
    width: 200px;
    font-size: 22px;
  }

  .mat-list-item {
    font-size: 17px;
    display: inline-block;
    height: 50px;
    width: 100px;
  }
}

