<nav class="nav">
  <div class="wrapper">
    <div class="logo">
      <a class="logo" [routerLink]="['/cars']"><strong>CARS INFO</strong></a>
    </div>
    <div class="nav-links">
      <a nav-item [routerLink]="['/cars']">All Cars</a>
      <a nav-item accessControl [routerLink]="['/cars/favorite']">Favorite Cars</a>
      <a nav-item accessControl [roles]="['Admin']" [routerLink]="['/add-car']">Add car</a>
      <a *ngIf="emailVerified$ | async" nav-item defaultColor="#539bf5" accessControl class="nav-right clickable"
         (click)="sendVerificationEmail()">
        Verify Email
      </a>
      <a nav-item accessControl [authenticated]="false" class="nav-right clickable"
         (click)="openDialog('Login')">Login</a>
      <a nav-item accessControl [authenticated]="false" class="nav-right clickable"
         (click)="openDialog('Register')">Register</a>
      <a nav-item accessControl class="nav-right clickable"
         (click)="onLogout()">Logout</a>
    </div>
    <div class="nav-menu-button">
      <a class="nav-right clickable">
        <mat-icon aria-hidden="false" aria-label="Open mobile menu" (click)="toggleMobileMenu()">menu
        </mat-icon>
      </a>
    </div>
  </div>
  <div *ngIf="mobileMenuOpened" class="nav-links-vertical">
    <a nav-item [routerLink]="['/cars']">All Cars</a>
    <a nav-item accessControl [routerLink]="['/cars/favorite']">Favorite Cars</a>
    <a nav-item accessControl [roles]="['Admin']" [routerLink]="['/add-car']">Add car</a>
    <a nav-item accessControl [authenticated]="false" class="nav-right clickable"
       (click)="openDialog('Login')">Login</a>
    <a nav-item accessControl [authenticated]="false" class="nav-right clickable"
       (click)="openDialog('Register')">Register</a>
    <a nav-item accessControl class="nav-right clickable" (click)="onLogout()">Logout</a>
    <a *ngIf="emailVerified$ | async" nav-item defaultColor="#539bf5" accessControl class="nav-right clickable"
       (click)="sendVerificationEmail()">
      Verify Email
    </a>
  </div>
</nav>
