/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: cornflowerblue;
}

.wrapper {
  margin-right: auto; /* 1 */
  margin-left: auto; /* 1 */
  max-width:1160px; /* 2 */
  padding-right: 10px; /* 3 */
  padding-left: 10px; /* 3 */
}

a {
  color: black;
}
