/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #2d333b;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.wrapper {
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

@media (max-width: 1570px) {
  .wrapper {
    width: 85%;
  }
}

@media (max-width: 800px) {
  .wrapper {
    width: 100%;
  }
}

a {
  color: #cdd9e5;
  text-decoration: none;
}

a:hover {
  color: #76828b;
  text-decoration: none;
}

.clickable {
  cursor: pointer;
}

.alert {
  position: relative;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid transparent;

  &-danger {
    @extend .alert;
    background-color: #fed3d3;
    color: #820000;
  }
}

.validation-alert {
  width: 100%;
  margin-bottom: 10px;
}

.custom-snackbar {
  background-color: #fff;
  color: #2d333b;

  .mat-button {
    color: red;
  }
}

.white-text {
  color: #cdd9e5;
}
