<div *ngIf="car$ | async as car" class="car-details">
  <ngb-carousel class="car-details-carousel">
    <ng-template ngbSlide *ngFor="let pictureUrl of car.carPicturesUrls">
      <div class="picsum-img-wrapper">
        <img [src]="pictureUrl" alt="Car picture" class="car-details-carousel-picture">
      </div>
    </ng-template>
  </ngb-carousel>
  <div class="car-details-content">
    <h2 class="car-details-title">{{ car.brand }} {{ car.model }}</h2>
    <p class="car-details-description">{{ car.description }}</p>
  </div>
</div>
