<form [formGroup]="commentFormGroup" class="comment-form">
  <mat-form-field class="comment-text" appearance="fill">
    <mat-label>Leave a comment</mat-label>
    <input matInput formControlName="comment" type="text" placeholder="Enter your comment">
  </mat-form-field>

  <div class="submit-block">
    <button mat-raised-button color="primary" type="submit" [disabled]="!commentFormGroup.valid"
            (click)="submit()">Comment
    </button>
  </div>

  <div *ngIf="comment.invalid && (comment.dirty || comment.touched)" class="alert-danger w-40">
    <div *ngIf="comment.errors?.required">
      Comment text is required
    </div>
    <div *ngIf="comment.errors?.maxlength !== undefined
      && comment.errors?.maxlength.requiredLength < comment.errors?.maxlength.actualLength">
      Comment max length is {{ comment.errors?.maxlength.requiredLength }} characters
    </div>
  </div>
  <br class="clearBoth"/>
</form>
