$input-color: #cdd9e5;
$placeholder-color: #76828b;

.comment-form {
  display: block;
  margin-bottom: 30px;
  padding: 10px;
}

.comment-text {
  width: 100%;
}

.submit-block {
  float: right;
}

::placeholder {
  color: $placeholder-color;
}

::ng-deep .mat-form-field {
  color: $input-color;
}

::ng-deep .mat-form-field-label {
  color: $input-color !important;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: $input-color !important;
}

::ng-deep.mat-form-field-underline {
  background-color: $placeholder-color !important;
}

::ng-deep.mat-button-disabled {
  background-color: gray !important;
}
